.reg_main{
    margin: 0 auto;
    /* text-align: center; */
    font-size: 20px;
    color: #333;
    width: 330px;
}
.reg_main > div{
    margin: 20px 0;
    height: 28px;
}
.reg_main > div> span{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.reg_main > div> input{
    padding: 4px 20px 0px 7px;
}
button{
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background: #5cb85c;
}
.sofo{
    display: none;
    color: darkred;
    font-size: 16px;
    position: absolute;
    top: 120px;
    right: 277px;
}